body{
    margin: 0;
    background-color: lightblue;
}
img{
    height: 500px;
    width: 100%;
}
#userinformation{
    box-sizing: border-box;
    width: 500px;
    display: flex;
    flex-direction: column;
}
#us{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;

}    

.info{
    display: flex;
    justify-content: space-around;
}
#userinformation button{
    width: 100px;
    border-radius: 20px;
}
nav a:hover{
    transform: scale(1.05);
}
footer{
    padding: 20px;
    text-align: center;
    margin: auto;
}

